#outer-box {
  background-color: purple;
}

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

/* the inner-box is working because it has under the class called ".box" so it has outperform the background-color: blue to red because of Position */
.inner-box {
  background-color: red;
}

.white-text {
    color: white;
  }