h1, h2 {
  font-size: 2rem;
  color: rgb(94, 89, 171);
}

#calculate-sum, .print-page {
  margin: 3%;
  padding: 1%;
  border: 2px solid #ffffff;
  border-radius: 1.8rem;
  background-color: orangered;
  color: white;
  font-weight: 799;
  font-size: 1.5rem;
}

#calculate-sum:hover, .print-page:hover {
  background-color: rgb(210, 67, 15);
}

#num1, #num2 {
  width: 20%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid #8576FF;
  border-radius: 1.7rem;
}

.sum-output, .show-date {
  font-weight: 900;
  font-size: 2rem;
  font-family: cursive;
}

.show-url {
  font-family: cursive;
}

.equal-sign {
  font-size: 2rem;
  color: rgb(94, 89, 171);
}