.print-page {
  font-size: 1.1rem;
  padding: 0.7rem;
  margin: 0.1rem;
  border-radius: 1.2rem;
  background-color: #8576FF;
}

.print-page:hover {
  background-color: #6c5af3;
}

#num1, #num2 {
  width: 20%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid #8576FF;
  border-radius: 2rem;
}

#calculate-sum {
  margin: 3%;
  padding: 2%;
  border: 4px solid #8576FF;
  border-radius: 2rem;
  color: red;
  font-weight: 799;
  font-size: 1.5rem;
}

.sum-output, .show-date {
  font-weight: 900;
  font-size: 2rem;
  font-family:'Courier New', Courier, monospace;
}

.show-url {
  font-family: verdana;
}