* {
  background-color: #F0F0E1;
}

.basic-info {
  font-size: small;
}

.basic-info > h1 {
  color: red;
}

.basic-info h2,h3 {
  color: blue;
}


.project>h3 {
  color: red;
  font-size: large;
}

.project-link {
  color: black;
  font-size: small;
}

.contact {
  font-size: larger;
}

footer {
  text-align: center;
}

footer p {
  background-color: green;
}