p {
  color: #FB8B24;
}

#special-element {
  background-color: brown;
}

.highlight {
  border-style: dashed;
}

div ul {
  padding: 20px;
}

.parent-container>p {
  font-style: italic;
}

a[href="#"] {
  font-weight: 900;
}

img[src] {
  border: 2px dashed black;
}

input[type="text"] {
  background-color: #C1F2B0;
}

a[href$=".pdf"] {
  font-style: italic;
  font-weight: 900;
  color:rgb(0, 255, 191);
}

*[data-type="important"], [class="featured"] {
  font-weight: 900;
  color: blue;
}